@font-face {
  font-family: "WorkSans-Regular";
  src: url("../font/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../font/Inter-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "WorkSans-Regular", sans-serif;
}

body {
  max-width: 1440px;
  color: #fff;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.header_wrapper {
  height: 100vh;
  width: 100%;
  background-color: #000;
}

header {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 6.8125rem;
}
header .line {
  height: 150px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 0;
}
header .headline_wrapper {
  width: 400px;
  text-align: center;
}
header .headline_wrapper p:nth-of-type(1) {
  padding-bottom: 17px;
  font-size: 12px;
}
header .headline_wrapper p:nth-of-type(2) {
  font-size: 12px;
}
header .headline_wrapper h1 {
  padding-bottom: 12px;
  font-size: 64px;
  font-family: "Inter-Bold";
  line-height: 52px;
}
header .headline_wrapper h1 span {
  color: #000;
  background: -webkit-linear-gradient(#000, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 1px #fff);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding-inline: 6.8125rem;
}
nav a {
  font-size: 1rem;
}
nav a:nth-of-type(2) {
  border: 1px solid #fff;
  padding: 14px 32px;
  transition: 0.5s;
}
nav a:nth-of-type(2):hover {
  background-color: #fff;
  color: #000;
}

main section:nth-of-type(1) {
  width: 100%;
  padding: 122px 0 100px 110px;
  background-color: #000;
}
main section:nth-of-type(1) article:nth-of-type(1) {
  padding-right: 10%;
}
main section:nth-of-type(1) article:nth-of-type(1) p {
  font-size: 6rem;
  font-weight: bold;
}
main section:nth-of-type(1) article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
main section:nth-of-type(1) article:nth-of-type(2) div:nth-of-type(1) {
  align-self: flex-end;
}
main section:nth-of-type(1) article:nth-of-type(2) p {
  font-size: 6rem;
  font-weight: bold;
}
main section:nth-of-type(2) {
  padding: 410px 0 311px 0;
  color: #000;
  position: relative;
}
main section:nth-of-type(2) div {
  width: 40.5%;
  margin: 0 auto;
}
main section:nth-of-type(2) div p:nth-of-type(1) {
  font-family: "WorkSans-Regular";
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: -0.4px;
  padding-bottom: 680px;
}
main section:nth-of-type(2) div p:nth-of-type(2) {
  font-family: "WorkSans-Regular";
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: -0.4px;
}
main section:nth-of-type(2) div img {
  display: block;
  width: fit-content;
  position: absolute;
}
main section:nth-of-type(2) div img:nth-of-type(1) {
  top: -4.5%;
  right: 7%;
}
main section:nth-of-type(2) div img:nth-of-type(2) {
  left: 3.5%;
  top: 14.5%;
}
main section:nth-of-type(2) div img:nth-of-type(3) {
  right: 0;
  top: 34.5%;
}
main section:nth-of-type(2) div img:nth-of-type(4) {
  top: 48%;
  left: 14%;
}
main section:nth-of-type(2) div img:nth-of-type(5) {
  right: 13%;
  top: 59%;
}
main section:nth-of-type(2) div img:nth-of-type(6) {
  left: 0;
  bottom: 18%;
}
main section:nth-of-type(2) div img:nth-of-type(7) {
  right: 20%;
  bottom: -3.5%;
  z-index: -1;
}
main section:nth-of-type(2) div h2 {
  font-family: "Inter-Bold";
  font-size: 5.25rem;
  font-weight: 700;
  line-height: 5.125rem;
  letter-spacing: -1.2376699448px;
  text-align: left;
}
main section:nth-of-type(3) {
  background-color: #000;
  padding: 168px 110px 560px 110px;
}
main section:nth-of-type(3) article:nth-of-type(1) p:nth-of-type(1) {
  padding-bottom: 21px;
}
main section:nth-of-type(3) article:nth-of-type(1) .container {
  display: flex;
}
main section:nth-of-type(3) article:nth-of-type(1) .container div:nth-of-type(1) {
  width: 50%;
}
main section:nth-of-type(3) article:nth-of-type(1) .container div:nth-of-type(1) p {
  font-family: "WorkSans-Regular";
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: -0.4px;
}
main section:nth-of-type(3) article:nth-of-type(1) .container div:nth-of-type(1) h2 {
  font-family: "Inter-Bold";
  font-size: 5.25rem;
  line-height: 5.125rem;
}
main section:nth-of-type(3) article:nth-of-type(1) .container div:nth-of-type(2) {
  width: 44%;
}
main section:nth-of-type(3) article:nth-of-type(1) .container div:nth-of-type(2) p:nth-of-type(1) {
  font-family: "Inter-Bold";
  font-size: 1.8125rem;
  line-height: 2.0625rem;
  letter-spacing: -0.4px;
  padding-bottom: 21px;
}
main section:nth-of-type(3) article:nth-of-type(1) .container div:nth-of-type(2) p:nth-of-type(2) {
  font-family: "WorkSans-Regular";
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.4px;
  padding-bottom: 21px;
}
main section:nth-of-type(3) article:nth-of-type(2) {
  padding-top: 168px;
  padding-right: 365px;
  width: 100%;
  height: fit-content;
  position: relative;
}
main section:nth-of-type(3) article:nth-of-type(2) img {
  display: block;
  width: fit-content;
  position: absolute;
}
main section:nth-of-type(3) article:nth-of-type(2) img:nth-of-type(2) {
  top: 300px;
  right: 19%;
  z-index: 10;
}
main .height411 {
  height: 411px;
  position: relative;
  overflow: hidden;
}
main .height411 img {
  display: block;
  width: fit-content;
  position: absolute;
}
main .height411 .image {
  width: 500px;
  height: 500px;
  animation: spin 4s linear infinite;
  transform-origin: 50% 50%;
  right: -15%;
  bottom: 26%;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
main .height411 img:nth-of-type(3) {
  right: -17%;
  top: -50%;
}
main section:nth-of-type(4) {
  color: #000;
  padding: 15px 110px 33px 110px;
  background-color: #EEEEEE;
  height: 1250px;
}
main section:nth-of-type(4) article:nth-of-type(1) p:nth-of-type(1) {
  padding-bottom: 21px;
}
main section:nth-of-type(4) article:nth-of-type(1) .container {
  display: flex;
}
main section:nth-of-type(4) article:nth-of-type(1) .container div:nth-of-type(1) {
  width: 50%;
}
main section:nth-of-type(4) article:nth-of-type(1) .container div:nth-of-type(1) p {
  font-family: "WorkSans-Regular";
  font-size: 1.25rem;
  line-height: 1.875rem;
  letter-spacing: -0.4px;
}
main section:nth-of-type(4) article:nth-of-type(1) .container div:nth-of-type(1) h2 {
  font-family: "Inter-Bold";
  font-size: 5.25rem;
  line-height: 5.125rem;
}
main section:nth-of-type(4) article:nth-of-type(1) .container div:nth-of-type(2) {
  width: 50%;
}
main section:nth-of-type(4) article:nth-of-type(1) .container div:nth-of-type(2) p:nth-of-type(1) {
  font-family: "Inter-Bold";
  font-size: 1.8125rem;
  line-height: 2.0625rem;
  letter-spacing: -0.4px;
  padding-bottom: 21px;
}
main section:nth-of-type(4) article:nth-of-type(1) .container div:nth-of-type(2) p:nth-of-type(2) {
  font-family: "WorkSans-Regular";
  font-size: 1.125rem;
  line-height: 1.875rem;
  letter-spacing: -0.4px;
  padding-bottom: 21px;
}
main section:nth-of-type(4) article:nth-of-type(2) {
  position: relative;
}
main section:nth-of-type(4) article:nth-of-type(2) img {
  position: absolute;
}
main section:nth-of-type(4) article:nth-of-type(2) img:nth-of-type(1) {
  max-width: 366px;
  max-height: 473px;
  z-index: 10;
  top: 334px;
  left: 280px;
}
main section:nth-of-type(4) article:nth-of-type(2) img:nth-of-type(2) {
  max-width: 731px;
  max-height: 731px;
  right: -9%;
  top: 168px;
  z-index: 9;
}

footer {
  width: 100%;
  background-color: #000;
  padding-inline: 110px;
  padding-top: 92px;
  padding-bottom: 20px;
  position: relative;
  overflow: hidden;
}
footer .balken {
  height: 100px;
  background-color: #EEEEEE;
  transform: rotate(40deg);
  position: absolute;
  width: 1019px;
  right: -9%;
  top: 35%;
  z-index: 8;
}
footer section article:nth-of-type(1) {
  width: 53%;
}
footer section article:nth-of-type(1) p:nth-of-type(1) {
  font-size: 0.75rem;
  padding-bottom: 30px;
}
footer section article:nth-of-type(1) p:nth-of-type(2) {
  font-size: 1.5rem;
  line-height: 2.875rem;
  margin-bottom: 15px;
}
footer section article:nth-of-type(1) a:nth-of-type(1) {
  border: 1px solid #fff;
  padding: 14px 32px;
  transition: 0.5s;
  display: block;
  text-align: center;
  width: 20%;
  margin-bottom: 100px;
}
footer section article:nth-of-type(1) a:nth-of-type(1):hover {
  background-color: #fff;
  color: #000;
}
footer section article:nth-of-type(2) {
  display: flex;
  justify-content: space-between;
}
footer section article:nth-of-type(2) div:nth-of-type(1) img {
  width: 15px;
  height: 15px;
  margin-bottom: 10px;
}
footer section article:nth-of-type(2) div:nth-of-type(1) p {
  font-size: 12px;
  padding-bottom: 10px;
}
footer section article:nth-of-type(2) div:nth-of-type(2) {
  margin-right: 50px;
}
footer section article:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(1) {
  width: 50px;
  height: 29px;
}
footer section article:nth-of-type(2) div:nth-of-type(2) img:nth-of-type(2) {
  width: 50px;
  height: 16px;
}

/************************
    media queries
************************/
@media (max-width: 800px) {
  .header_wrapper h1 {
    font-size: 3.75rem !important;
  }
  main section:nth-of-type(1) article:nth-of-type(1) p {
    font-size: 4rem;
  }
  main section:nth-of-type(1) article:nth-of-type(2) {
    overflow: hidden;
  }
  main section:nth-of-type(1) article:nth-of-type(2) div {
    align-self: center !important;
  }
  main section:nth-of-type(1) article:nth-of-type(2) div p {
    font-size: 4rem;
  }
  main section:nth-of-type(2) div p:nth-of-type(1) {
    padding-bottom: 300px;
  }
  main section:nth-of-type(2) div img:nth-of-type(2), main section:nth-of-type(2) div img:nth-of-type(3) {
    z-index: -1;
  }
  main section:nth-of-type(2) div img:nth-of-type(3), main section:nth-of-type(2) div img:nth-of-type(4), main section:nth-of-type(2) div img:nth-of-type(6) {
    display: none;
  }
  main section:nth-of-type(2) div img:nth-of-type(5) {
    right: 0;
    top: 50%;
  }
  main section:nth-of-type(2) div img:nth-of-type(7) {
    bottom: -3.5%;
    z-index: -1;
    right: 5%;
  }
  main section:nth-of-type(3) {
    padding-right: 50px;
    overflow: hidden;
  }
  main section:nth-of-type(3) article:nth-of-type(1) div div:nth-of-type(1) h2 {
    font-size: 4rem !important;
    line-height: 4.5rem !important;
  }
  main section:nth-of-type(3) article:nth-of-type(1) div div:nth-of-type(2) p {
    font-size: 1.5rem !important;
  }
  main section:nth-of-type(3) article:nth-of-type(2) {
    padding: 0;
  }
  main section:nth-of-type(3) article:nth-of-type(2) img {
    max-width: 100%;
  }
  main section:nth-of-type(3) article:nth-of-type(2) img:nth-of-type(2) {
    top: 90px;
    right: -43%;
  }
  main .height411 {
    height: 300px;
  }
  main .height411 .image {
    right: -30%;
  }
  main section:nth-of-type(4) {
    padding-right: 50px;
  }
  main section:nth-of-type(4) article:nth-of-type(1) .container div:nth-of-type(1) h2 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  main section:nth-of-type(4) article:nth-of-type(2) img:nth-of-type(1) {
    display: none;
  }
  main section:nth-of-type(4) article:nth-of-type(2) img:nth-of-type(2) {
    top: 0;
  }
  footer .balken {
    right: -44%;
    top: 39%;
    transform: rotate(51deg);
  }
  footer section article:nth-of-type(2) div:nth-of-type(2) {
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .header_wrapper header {
    padding-inline: 0;
  }
  .header_wrapper header .headline_wrapper {
    width: 300px;
  }
  .header_wrapper header .headline_wrapper h1 {
    font-size: 3rem !important;
  }
  .header_wrapper nav {
    padding-inline: 3rem;
  }
  main section:nth-of-type(1) {
    padding: 3.125rem 0 0px 3rem;
  }
  main section:nth-of-type(1) article:nth-of-type(1) p {
    font-size: 2.5rem;
  }
  main section:nth-of-type(1) article:nth-of-type(2) {
    margin-top: 50px;
  }
  main section:nth-of-type(1) article:nth-of-type(2) div:nth-of-type(1) {
    align-self: flex-start !important;
  }
  main section:nth-of-type(1) article:nth-of-type(2) div:nth-of-type(1) p {
    font-size: 2.5rem;
  }
  main section:nth-of-type(2) div {
    width: 70%;
  }
  main section:nth-of-type(2) div h2 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
  main section:nth-of-type(2) div img:nth-of-type(5) {
    display: none;
  }
  main section:nth-of-type(2) div p:nth-of-type(1) {
    padding-bottom: 40px;
  }
  main section:nth-of-type(3) {
    padding: 3rem 50px 300px 3rem;
  }
  main section:nth-of-type(3) article:nth-of-type(1) .container {
    flex-wrap: wrap;
  }
  main section:nth-of-type(3) article:nth-of-type(1) .container div:nth-of-type(1) h2 {
    font-size: 3rem !important;
    line-height: 3.5rem !important;
  }
  main section:nth-of-type(3) article:nth-of-type(1) .container div:nth-of-type(2) {
    width: 100%;
  }
  main section:nth-of-type(3) article:nth-of-type(1) .container div:nth-of-type(2) p:nth-of-type(1) {
    font-size: 1rem !important;
  }
  main section:nth-of-type(3) article:nth-of-type(2) img:nth-of-type(2) {
    display: none;
  }
  main .height411 {
    height: 200px;
  }
  main .height411 .image {
    right: -65%;
  }
  main section:nth-of-type(4) {
    padding: 3rem 50px 300px 3rem;
  }
  main section:nth-of-type(4) .container {
    flex-wrap: wrap;
  }
  main section:nth-of-type(4) .container div:nth-of-type(2) {
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
